.btn {
  border-radius: 0rem;
}
.btn-primary {
  background-color: #051010;
  border-color: #051010;
  font-family: Avenir;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  border-radius: 6px;
  letter-spacing: normal;
  text-align: center;
  color: #ffffff;
  padding: 5px 30px;
  height: 56px;
}

.btn-light{
  background-color: #ffffff;
  border-color: white;
  font-family: Avenir;
  font-size: 16px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  border-radius: 6px;
  letter-spacing: normal;
  text-align: center;
  color: #051010;
  padding: 5px 30px;
  height: 56px;
}

.btn-primary:hover,
.btn-primary:focus {
  background-color: #051010;
  border-color: #051010;
  box-shadow: none !important;
}
.btn-primary:visited,
.btn-primary:active {
  background-color: #051010 !important;
  border-color: #051010 !important;
}

.btn-light:hover,
.btn-light:focus {
  background-color: white;
  border-color: #051010;
  box-shadow: none !important;
}
.btn-light:visited,
.btn-light:active {
  background-color: white !important;
  border-color: #051010 !important;
}