.section-bank-aproch {
  margin-top: -55px;
  height: 100vh;
}
.section-bank-aproch .banking-aproch {
  /* width: 310.9px; */
  /* height: 575.3px; */
  /* object-fit: contain; */
}
.section-bank-aproch .finin-card {
  width: 353.2px;
  height: 309.5px;
  object-fit: contain;
}
.section-bank-aproch .heading-content h1 {
  font-family: Avenir-Black;
  font-size: 42px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.24;
  letter-spacing: normal;
  color: var(--global-black);
  padding-right: 20px;
}
.section-bank-aproch .heading-content p {
  font-family: Avenir-Medium;
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: var(--global-grey);
}
.section-bank-aproch .heading-content h2 {
  font-family: Avenir-Heavy;
  font-size: 22px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.45;
  letter-spacing: normal;
  text-align: left;
  color: var(--global-black);
}
.finin-title {
  font-family: Avenir-Heavy;
  font-size: 22px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.45;
  letter-spacing: normal;
  text-align: left;
  color: var(--global-black);
}

.banking-smarter {
  background-color: var(--global-grey);
  padding-bottom: 90px;
}
.banking-smarter h2 {
  margin-top: 95px;
  font-family: Avenir-Black;
  font-size: 46px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 58px;
  letter-spacing: normal;
  color: #ffffff;
}
.banking-smarter p {
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 22px;
  font-stretch: normal;
  font-style: normal;
  /* line-height: 58px; */
  letter-spacing: normal;
  color: #ffffff;
}
.banking-smarter h2 span {
  color: #1d1d1d;
}

.media-icon-box .image-box-outer {
  width: 46px;
  height: 46px;
  border-radius: 6px;
  background-color: #f8f8f8;
}
.media-icon-box .image-box-outer .image-box-inner {
  display: block;
  text-align: center;
  line-height: 42px;
}
.media-icon-box .media-body {
  font-family: Avenir-Medium;
  font-size: 17px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 24px;
  letter-spacing: normal;
  color: #3c3c3c;
}
.smarter-box {
  margin-top: 60px;
  padding: 15px 10px;
  margin-bottom: 40px;
}
.smarter-box p {
  margin-top: 25px;
  font-family: Avenir-Medium;
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #1d1d1d;
}
.smarter-box img {
  width: 110px;
  height: 99px;
  object-fit: contain;
}

.manage-accounts {
  margin: 80px 0px;
}
.manage-accounts .manage-account-content h2 {
  font-family: Avenir-Black;
  font-size: 46px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-transform: capitalize;
  color: #36e2a3;
}
.manage-accounts .manage-account-content h3 {
  font-family: Avenir-Heavy;
  font-size: 32px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.19;
  letter-spacing: normal;
  color: #1d1d1d;
}
.manage-accounts .manage-account-content p {
  font-family: Avenir-Roman;
  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.45;
  letter-spacing: normal;
  text-align: left;
  color: #051010;
}

.manage-accounts .manage-account-image img {
  width: 461.5px;
  height: 383.8px;
  object-fit: contain;
}
.manage-accounts .saving-hard-image img {
  width: 441px;
  height: 360.8px;
  object-fit: contain;
}
.manage-accounts .saving-hard-content {
  text-align: right;
}
.manage-accounts .saving-hard-content p {
  text-align: right;
}
.manage-accounts .saving-ac {
  padding-right: 0px;
  padding-left: 35px;
}
