.section-home  {
  margin-top: -55px;
  height: 100vh;
}
.section-home .finin-card {
  width: 353.2px;
  height: 309.5px;
  object-fit: contain;
}
.section-home .heading-content h1 {
  font-family: Avenir-Black;
  font-size: 42px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.24;
  letter-spacing: normal;
  color: var(--global-black);
  padding-right: 20px;
}
.section-home .heading-content p {
  font-family: Avenir-Medium;
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: var(--global-grey);
}
.section-home .heading-content h2 {
  font-family: Avenir-Heavy;
  font-size: 22px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.45;
  letter-spacing: normal;
  text-align: left;
  color: var(--global-black);
}
.section-home-title {
  font-family: Avenir-Heavy;
  font-size: 22px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.45;
  letter-spacing: normal;
  text-align: left;
  color: var(--global-black);
}

.banking-smarter {
  background-color: var(--global-grey);
  padding-bottom: 90px;
}
.banking-smarter h2 {
  margin-top: 95px;
  font-family: Avenir-Black;
  font-size: 46px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 58px;
  letter-spacing: normal;
  color: #ffffff;
}
.banking-smarter p {
  margin-top: 20px;
  margin-bottom: 40px;
  font-size: 22px;
  font-stretch: normal;
  font-style: normal;
  /* line-height: 58px; */
  letter-spacing: normal;
  color: #ffffff;
}
.banking-smarter h2 span {
  color: #1d1d1d;
}

.media-icon-box .image-box-outer {
  width: 46px;
  height: 46px;
  border-radius: 6px;
  background-color: #f8f8f8;
}
.media-icon-box .image-box-outer .image-box-inner {
  display: block;
  text-align: center;
  line-height: 42px;
}
.media-icon-box .media-body {
  font-family: Avenir-Medium;
  font-size: 17px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 24px;
  letter-spacing: normal;
  color: #3c3c3c;
}
.smarter-box {
  margin-top: 60px;
  padding: 15px 10px;
  margin-bottom: 40px;
}
.smarter-box p {
  margin-top: 25px;
  font-family: Avenir-Medium;
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #1d1d1d;
}
.smarter-box img {
  width: 110px;
  height: 99px;
  object-fit: contain;
}

.approach {
  margin: 80px 0px;
}
.approach .approach-content h2 {
  font-family: Avenir-Black;
  font-size: 46px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.46;
  letter-spacing: normal;
  text-transform: capitalize;
  color: var(--global-blue);
}
.approach .approach-content h3 {
  font-family: Avenir-Heavy;
  font-size: 32px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.19;
  letter-spacing: normal;
  color: var(--global-grey);
}
.approach .approach-content p {
  font-family: Avenir-Roman;
  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.45;
  letter-spacing: normal;
  text-align: left;
  color: var(--global-grey);
}

.approach .approach-image img {
  width: 461.5px;
  height: 383.8px;
  object-fit: contain;
}
.approach .saving-hard-image img {
  width: 441px;
  height: 360.8px;
  object-fit: contain;
}
.approach .saving-hard-content {
  text-align: right;
}
.approach .saving-hard-content p {
  text-align: right;
}
.approach .saving-ac {
  padding-right: 0px;
  padding-left: 35px;
}



/* About more */
.about-more {
  position: relative;
  background-color: var(--global-grey);
  padding: 90px 0px;
}
.about-more .about-content h3 {
  font-family: Avenir-Black;
  font-size: 46px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.26;
  letter-spacing: normal;
  text-align: left;
  color: #ffff;
}
.about-more .about-content p {
  font-family: Avenir;
  font-size: 24px;
  font-weight: 500;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.42;
  letter-spacing: normal;
  text-align: left;
  color: #ffff;
}
.about-more .about-cards {
  padding-right: 70px;
}
.about-more .about-cards .media img {
  width: 94px;
  height: 88px;
  object-fit: contain;
}
.about-more .about-cards h5 {
  font-family: Avenir-Black;
  font-size: 26px;
  font-weight: 900;
  font-stretch: normal;
  font-style: normal;
  line-height: 0.92;
  letter-spacing: normal;
  text-align: left;
  color: #ffff;
}
.about-more .about-cards p {
  font-family: Avenir-Roman;
  font-size: 22px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.45;
  letter-spacing: normal;
  text-align: left;
  color: #ffff;
}